<%- include('partials/header') %>
<h2>Add a New Book</h2>

<form action="/books" method="POST" class="form">
  <input name="title" placeholder="Title" required>
  <input name="author" placeholder="Author" required>
  <input name="isbn" placeholder="ISBN (for cover)" required>
  <textarea name="review" placeholder="Review"></textarea>
  <input type="number" name="rating" placeholder="Rating" min="1" max="10">
  <input type="date" name="read_date">
  <button class="btn btn-add">Add Book</button>
</form>

<a href="/" class="btn btn-back">⬅ Back</a>
<%- include('partials/footer') %>
